# This tells lombok that this is the root directory of the project
config.stopBubbling = true
# Ensures that the generated code is excluded from the code coverage metrics
lombok.addLombokGeneratedAnnotation = true
lombok.anyConstructor.addConstructorProperties = true
lombok.copyableAnnotations += com.fasterxml.jackson.annotation.JsonProperty
